{% extends "base.html" %}
{% load static %}

{% block title %}
  Shopping Cart
{% endblock %}

{% block content %}
    <h1 class="border-bottom">Your shopping cart</h1>
    <ul class="orders">
    <table>
        <thead>
            <tr class="border-bottom">
                <th>Product</th>
                <th>Remove</th>               
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with product=item.product %}
            <tr>
                <td>{{ product.name }}</td>
                <td><a class="btn" href="{% url "cart:cart_remove" product.id %}">Remove</a></td>
                <td>£{{ item.price }}</td>
            </tr>
            {% endwith %}
        {% endfor %}
        <tr class="border-top total">
            <td>Total</td>
            <td colspan="4">{{ cart.get_total_price }}</td>
            
        </tr>
        </tbody>
    </table>
</ul>
    <ul class="text-right">
        <li><a class="btn list" href="{% url 'products' %}" class="button light">Continue shopping</a></li>
        <li><a class="btn list" href="{% url "orders:order_create" %}" class="button">Checkout</a></li>
    </ul>
{% endblock %}