{% extends "base.html" %}
{% load static %}

{% block title %}
  Shopping Cart
{% endblock %}

{% block content %}
    <h1>Your shopping cart</h1>
    <table class="cart">
        <thead>
            <tr>
                <th>Product</th>
                <th>Remove</th>               
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with product=item.product %}
            <tr>
                <td>{{ product.name }}</td>
                <td><a href="{% url "cart:cart_remove" product.id %}">Remove</a></td>
                <td class="num">£{{ item.price }}</td>
            </tr>
            {% endwith %}
        {% endfor %}
        <tr class="total">
            <td>Total</td>
            <td colspan="4">{{ cart.get_total_price }}</)td>
            
        </tr>
        </tbody>
    </table>
    
{% endblock %}