
/*==================== 
         BASE 
======================*/
*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	/* Grid gap */
	--gap: 10px;
	font-family: 'Fakt Normal','Roboto', Helvetica, sans-serif;
	min-height: 600px;
	color: #000;
	background: #fff;
	line-height:1;
}

::-moz-selection { /* Code for Firefox */
    color: #fff;
    background: #4c4c4c;
}

::selection {
    color: #fff;
    background: #4c4c4c;
}

#wayvdLogo {
	margin:10px;
	text-decoration
}

#brand:hover {
	border-bottom:none;
}

#brand::selection {
	border-bottom:none;
	color:none;
	background: none;
}

.container{
	width:100%;
}

.nav {
	margin-top:20px;
}

a {
	text-decoration: none;
	color: #000;
	outline: none;
	font-size:1.125em;
}

a:hover,
a:focus {
	color: #7F7F7F;
	text-decoration: none;
	
}

.navlink:hover,
.navlink:focus {
	color: #7F7F7F;
	text-decoration: none;
	border-bottom:1px solid #000;
}

.nav-effect{
    margin:auto;
    list-style-type: none;
    font-weight:bold;
 }

.nav-effect li>a {
	
	margin:10px;
}

.nav-effect li > a:hover:nth-child(odd)  {
	color:#333;
	background:none;
	
}


h2, h1{
	color:#000;
}

p{
	font-size: 1.2em;
	padding-top:20px;
	padding-bottom:20px;
	line-height:25px;
}

hr {
	background-color:#444;
	color:#444;
	height:2px;
	line-height:0;
	margin:-.5em 10px 1.8571em 10px;
	page-break-after:always;
	text-align:center;
	width:100%;
}


.row{
	margin-top:20px;
}

/*==================== 
        FORMS 
======================*/



.form-wrap {
   	margin: auto;
    width: 33.3%;
    padding: 10px;
}

.login-form{
	font-size: 120%;
	
}

.form-control {
	background-color: #fff;
    margin-bottom: 28px;
	background: #fffl
    padding: 0 12px;
    font-size: 1em;
    color: #000;
    border: 1px #000 solid;
    border-radius: 0px;
    -webkit-box-shadow: 4px 4px 0px 0px rgba(0,0,0,1);
	-moz-box-shadow: 4px 4px 0px 0px rgba(0,0,0,1);
	box-shadow: 4px 4px 0px 0px rgba(0,0,0,1);
    
}

#id_email:valid,
#id_password:valid,
#id_password1:valid,
#id_password2:valid{   
	background-color:#F9FFB0;
	outline: 0 none;
	border: 1px #000 solid;
	border-radius: 0px;
	-webkit-box-shadow: 4px 4px 0px 0px rgba(0,0,0,1);
	-moz-box-shadow: 4px 4px 0px 0px rgba(0,0,0,1);
	box-shadow: 4px 4px 0px 0px rgba(0,0,0,1);   
}

#id_email:focus,
#id_password:focus,
#id_password1:focus,
#id_password2:focus{
	-webkit-box-shadow: 4px 4px 0px 0px rgba(0,0,0,1);
	-moz-box-shadow: 4px 4px 0px 0px rgba(0,0,0,1);
	box-shadow: 4px 4px 0px 0px rgba(0,0,0,1); 
}



label.control-label{
	text-transform:uppercase;
	}

label{
	margin-bottom: inherit;
}

.border-bottom{
    border-bottom: 1px #000 solid;
    margin-bottom: 1em;
    padding-bottom: 16px;
    text-transform: uppercase;
    text-align: left;
    font-size: 1.5em;
    color: #000;
}

.btn{
	background:none;
	background-color:#000;
	border: solid #000;
	border-radius:0;
	border:1px solid #000;
}

.btn:hover{
	background-color:#fff;
	color:#000;
	border:1px solid #000
}
/*==================== 
        BASE GRID
======================*/

/* Grid */
.grid {
	display: grid;
	width: calc(100% - 6em);
	height: calc(100vh - 6em);
	grid-auto-rows: calc((calc(100vh - 6em) / 30) - var(--gap));
	grid-auto-columns: calc((calc(100% - 6em) / 30) - var(--gap));
	justify-content: center;
	align-content: center;
	grid-gap: var(--gap);
	pointer-events: none;
	padding-top: 180px
}

.no-js .grid {
	margin: 0 0 15vh;
}

.js .grid {
	position: absolute;
	top: 3em;
	left: 3em;
	opacity: 0;
}

.js .grid--current {
	opacity: 1;
	pointer-events: auto;
}

.grid__item {
	position: relative;
	padding: 1em;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	transition: transform 0.2s ease-out;
}

.grid__item--name,
.grid__item--title,
.grid__item--text {
	pointer-events: none;
	padding: 0;
	margin: 0;
}

.grid__item--name,
.grid__item--title {
	text-transform: uppercase;
	line-height: 0.8;
	font-family: 'Kanit', sans-serif;
}

.grid__item--name {
	font-size: 7vw;
	color: #ef3b3b;
	color: var(--grid-name-text);
}

.grid__item--title {
	font-size: 3.5vh;
	text-transform: uppercase;	
	-webkit-writing-mode: vertical-lr;
	writing-mode: vertical-lr;
	text-align: right;
	display: flex;
	justify-content: flex-end;
	color: #ef3b3b;
	color: var(--grid-title-text);
}

.grid__item--text {
	font-size: 0.85em;
	line-height: 1.2;
	display: flex;
	color: inherit;
	color: var(--grid-text);
}



/* Grid Layout  */
.grid--layout-1 .grid__item:first-child { grid-area: 5 / 1 / 17 / 5; background-image: url("../img/2.jpg"); }
.grid--layout-1 .grid__item:nth-child(2) { grid-area: 22 / 6 / 28 / 10; background-image: url(../img/4.jpg); }
.grid--layout-1 .grid__item:nth-child(3) { grid-area: 8 / 5 / 22 / 15; background-image: url("../img/2.jpg"); }
.grid--layout-1 .grid__item:nth-child(4) { grid-area: 22 / 10 / 29 / 15; background-image: url(../img/8.jpg); }
.grid--layout-1 .grid__item:nth-child(5) { grid-area: 1 / 11 / 8 / 15; background-image: url(../img/10.jpg); }
.grid--layout-1 .grid__item:nth-child(6) { grid-area: 17 / 15 / 24 / 20; background-image: url(../img/12.jpg); }
.grid--layout-1 .grid__item:nth-child(7) { grid-area: 9 / 15 / 17 / 23; background-image: url(../img/14.jpg); }
.grid--layout-1 .grid__item:nth-child(8) { grid-area: 2 / 18 / 9 / 23; background-image: url(../img/16.jpg); }
.grid--layout-1 .grid__item:nth-child(9) { grid-area: 17 / 20 / 22 / 26; background-image: url(../img/18.jpg); }
.grid--layout-1 .grid__item:nth-child(10) { grid-area: 22 / 20 / 28 / 23; background-image: url(../img/20.jpg); }
.grid--layout-1 .grid__item:nth-child(11) { grid-area: 4 / 23 / 11 / 27; background-image: url(../img/22.jpg); }
.grid--layout-1 .grid__item:nth-child(12) { grid-area: 11 / 23 / 17	/ 30; background-image: url(../img/3.jpg); }
.grid--layout-1 .grid__item:nth-child(13) { grid-area: 17 / 26 / 22 / 28; background-image: url(../img/5.jpg); }
.grid--layout-1 .grid__item--name { grid-area: 3 / 12 / 30 / 25; }
.grid--layout-1 .grid__item--title { grid-area: 1 / 27 / 11 / 29; }
.grid--layout-1 .grid__item--text { grid-area: 22 / 23 / 30 / 26; }


/*==================== 
    TABLE 
======================*/

table {
    width:100%;
    border-spacing:0;
    border-collapse: collapse; 
}

table th, table td {
    text-align:left;
    font-size:14px;
    padding:15px;
    margin:0;
}


tbody tr.subtotal {
    background:#ccc;
}

thead th, tbody tr.total {
    color:#000;
    font-weight:bold;
}

table.cart {
    margin-bottom:40px;
}

table.cart img {
    width:180px;
}

tbody td.num {
    text-align:right;
}

td input[type="submit"] {
    font-size:12px;
    padding:4px 10px;
}

.link-box{
	padding:5px;
	border: 1px solid #000;
	text-transform:uppercase;
}

.link-box:hover{
	padding:5px;
	border: 1px solid #000;
	text-transform:uppercase;
	background:#000;
	color:#fff;
}

.page-border-bot{
	border-bottom:1px solid #000;
}

form p label, form p input {
    float:left;
    clear:both;
}

form p label {
    font-size:14px;
    padding-bottom:4px;
}

form p input {
    width:300px;
    font-size:13px;
    margin-bottom:10px;
    padding:10px 12px;
    border:0;
    background:#efefef;
    color:#666;
    border-radius:4px;
}


.page_description {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}



.orders{
	padding:20px;
}

/*==================== 
    MEDIA QUERIES
======================*/

@media screen and (max-width: 60em) {
	.frame {
		display: block;
		height: auto;
		position: relative;
		text-align: center;
	}
	
	main .grid {
		height: auto;
		top: auto !important;
		width: 100%;
		left: auto !important;
		padding-top: : 100px;
		grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
		grid-auto-rows: auto !important;
		grid-auto-columns: auto !important;
		grid-gap: 1vw;
	}

	.grid__item {
		min-height: 50px;
		grid-area: auto !important;
	}

	.grid__item br {
		content: '';
		display: none;
	}

	.grid__item--name,
	.grid__item--title,
	.grid__item--text {
		grid-column: 1 / -1 !important;
		justify-content: flex-start;
		min-height: 0;
		padding: 1vh 0;
		text-align: left !important;
	}	

	.grid__item--name {
		grid-row: 1 / -1 !important;
	}

	.grid .grid__item--title {
		-webkit-writing-mode: horizontal-tb;
		writing-mode: horizontal-tb;
	}
}


video {
    width: 100%;
    height: auto;
}

/* Portrait tablets and small desktops */
@media screen and (min-width: 768px) {

       
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
       
}


/* Portrait phones and smaller */
@media (max-width: 480px) {
.form-wrap{
	width:100%;
}
       
}
