@font-face {
	font-family: 'Fakt Air';
	src: url('/static/fonts/FaktPro-Air.eot');
	src: url('/staticfonts/FaktPro-Air.eot?#iefix') format('embedded-opentype'),
	     url('/staticfonts/FaktPro-Air.woff') format('woff'),
	     url('/staticfonts/FaktPro-Air.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Fakt Hair';
	src: url('/static/fonts/FaktPro-Hair.eot');
	src: url('/static/fonts/FaktPro-Hair.eot?#iefix') format('embedded-opentype'),
	     url('/static/fonts/FaktPro-Hair.woff') format('woff'),
	     url('/static/fonts/FaktPro-Hair.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Fakt Thin';
	src: url('/static/fonts/FaktPro-Thin.eot');
	src: url('/static/fonts/FaktPro-Thin.eot?#iefix') format('embedded-opentype'),
	     url('/static/fonts/FaktPro-Thin.woff') format('woff'),
	     url('/static/fonts/FaktPro-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}



@font-face {
	font-family: 'Fakt Light';
	src: url('/static/fonts/FaktPro-Light.eot');
	src: url('/static/fonts/FaktPro-Light.eot?#iefix') format('embedded-opentype'),
	     url('/static/fonts/FaktPro-Light.woff') format('woff'),
	     url('/static/fonts/FaktPro-Light.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}


@font-face {
	font-family: 'Fakt Blond';
	src: url('/static/fonts/FaktPro-Blond.eot');
	src: url('/static/fonts/FaktPro-Blond.eot?#iefix') format('embedded-opentype'),
	     url('/static/fonts/FaktPro-Blond.woff') format('woff'),
	     url('/static/fonts/FaktPro-Blond.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Fakt Normal';
	src: url('/static/fonts/FaktPro-Normal.eot');
	src: url('/static/fonts/FaktPro-Normal.eot?#iefix') format('embedded-opentype'),
	     url('/static/fonts/FaktPro-Normal.woff') format('woff'),
	     url('/static/fonts/FaktPro-Normal.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Fakt Medium';
	src: url('/static/fonts/FaktPro-Medium.eot');
	src: url('/static/fonts/FaktPro-Medium.eot?#iefix') format('embedded-opentype'),
	     url('/static/fonts/FaktPro-Medium.woff') format('woff'),
	     url('/static/fonts/FaktPro-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Fakt Semi Bold';
	src: url('/static/fonts/FaktPro-SemiBold.eot');
	src: url('/static/fonts/FaktPro-SemiBold.eot?#iefix') format('embedded-opentype'),
	     url('/static/fonts/FaktPro-SemiBold.woff') format('woff'),
	     url('/static/fonts/FaktPro-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}