{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{% block title %}Media Hub{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/cerulean/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/custom.css' %}">
  <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
	
	
</head>
<body>
	<div class="masthead">
		<a id="brand" href="/"><svg id="wayvdLogo" data-name="wayvdLogo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 290.87 108" width="200" height="80"><defs><style>.cls-1{font-size:85px;font-family:RansomNote, RansomNote;}</style></defs><title>wayvdLogo</title><text class="cls-1" transform="translate(0 75.28)">wAYvD</text></svg></a>
		
		<ul class="nav navbar-nav navbar-right nav-effect">
      <li><a class="navlink" href="/">Home</a></li>
      <li><a class="navlink" href="#">About</a></li>
      <li><a class="navlink" href="#">Contact</a></li>
      <li><a class="navlink" href="/products">Products</a></li>
      {% if user.is_authenticated %}
              <li class="dropdown">
                <a class="navlink dropdown-toggle" href="{% url 'account' %}">Account</a>
                <ul class="dropdown-menu">
                  <li><a class="navlink" href="{% url 'orders:list' %}">Orders</a></li>
                </ul>
              </li>
              <li><a class="navlink" href="{%  url 'logout'  %}">Log Out</a></li>
            {% else %}
              <li><a class="navlink" href="{% url 'register' %}">Register</a></li>
              <li><a class="navlink" href="{% url 'login' %}">Log In</a></li>
      {% endif %} 
      {% with total_items=cart|length %}
                {% if cart|length > 0 %}
                <li><a class="navlink" href="{% url "cart:cart_detail" %}">
                      Cart({{ total_items }})
                      </a></li>
                {% else %}
                    <li><a class="navlink" href="/">Cart(0)</a></li>
                {% endif %}
            {% endwith %} 
    </ul>
</div>


<div class="container">
       {% block content %}
       {% endblock %}
   </div>
  
   <div class="footer">
       
   </div>
<!-- script references -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{% static 'js/script.js' %}"></script>
{% block tail_js %}
    
    
{% endblock %}
</body>
</html>