{% extends 'base.html' %}
{% block content %}
    <main>
		<div class="grid grid--layout-1 grid--current">
				<div class="grid__item"></div>
				<div class="grid__item"></div>
				<div class="grid__item"></div>
				<div class="grid__item"></div>
				<div class="grid__item"></div>
				<div class="grid__item"></div>
				<div class="grid__item"></div>
				<div class="grid__item"></div>
				<div class="grid__item"></div>
				<div class="grid__item"></div>
				<div class="grid__item"></div>
				<div class="grid__item"></div>
				<div class="grid__item"></div>
				<h2 class="grid__item grid__item--name">WAYVD<br/> MEDIA <br/>2017</h2>
				<h3 class="grid__item grid__item--title">wayvd</h3>
				<p class="grid__item grid__item--text">
					Innovate. Create. Inspire. <br>
					work with us on new exciting projects.
				</p>
		</div>
{% endblock %}