{% extends 'base.html' %}
{% block content %}
    <main>
		<div class="grid grid--layout-1 grid--current">
				<div class="grid__item"></div>
				<div class="grid__item"></div>
				<div class="grid__item"></div>
				<div class="grid__item"></div>
				<div class="grid__item"></div>
				<div class="grid__item"></div>
				<div class="grid__item"></div>
				<div class="grid__item"></div>
				<div class="grid__item"></div>
				<div class="grid__item"></div>
				<div class="grid__item"></div>
				<div class="grid__item"></div>
				<div class="grid__item"></div>
				<p class="grid__item grid__item--text">
					Browse our videos on the products page. All videos are vintage Sony Hi 8 Handy cam footage, in various locations. Great for mixing in with nostalgic edits! 
				</p>
		</div>
	</main>
{% endblock %}