{% extends "base.html" %}
{% block content %}
<div class="page-border-bot">
    <h2 class="border-bottom">All Your Orders</h2>
    <ul class="orders">
    <table>
        <thead>
            <tr class="border-bottom">
                <th>Order</th>
                <th>Date</th>               
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td><a class="link-box" href="{% url 'orders:detail' order.id %}">Order #{{order.id}}</a></td>
                <td>{{ order.created }}</td>
                <td>£{{ order.get_total_cost }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
 </div>
 <p><a class="link-box" href="{% url 'account' %}">Return to account</a></p>
{% endblock %}